<head>
  <title>MouseRotator</title>
</head>

<body>
  <h1>MouseRotator</h1>
  <p>Drag and drop to change rotation</p>

  {{> rotator}}
</body>

<template name="rotator">
	<div class="rotator">
		<div>E</div>
	</div>
</template>
